{{!-- {{{#each }}}
<div class="wrapper">
    <div class="product-img">
        <img src="{{hinh_anh}}" height="420" width="327">
    </div>
    <div class="product-info">
        <div class="product-text">
            <h1>{{ten_san_pham}}</h1>
            <h2>by studio and friends</h2>
            <p>{{mo_ta}}<br> of peeled fruits and vegetables as<br> functional objects. The surfaces<br> appear to be
                sliced and pulled aside,<br> allowing room for growth. </p>
        </div>
        <div class="product-price-btn">
            <p><span>{{gia_tien}}</span>đ</p>
            <button type="button">Thêm vào giỏ</button>
        </div>
    </div>
</div> --}}